.f-checkbox {
    background-color: var(--neutral-white);
    border: 0.0625em solid var(--neutral-light); /* 1px */
  }
  
  .f-checkbox:hover {
    background-color: var(--neutral-ultra-light);
    border: 0.0625em solid var(--neutral);      /* 1px */
  }
  
  .f-checkbox:checked,
  .f-checkbox.k-checked {
    border-color: rgba(from var(--neutral-darkest) r g b / 0.1);
    color: var(--primary);
    background-color: var(--primary);
  }
  
  .f-checkbox:checked:focus,
  .f-checkbox.k-checked.k-focus {
    /* 2px outline → 0 0 0 0.125em */
    box-shadow: 0 0 0 0.125em color-mix(in srgb, var(--primary) 30%, transparent);
  }
  
  /* emove default checkmark so we can draw our own */
  /* input[type="checkbox"] {
    accent-color: transparent;
  } */

  .k-checkbox-md {
    width: 1em;
    height: 1em;
  }

  .k-checkbox-label {
    margin-left: 0.375em;
  }

  .f-checkbox + .k-checkbox-label {
    font-size: 1rem;
  }
  
  
  /* Draw the Phosphor icon on :checked */
  /* 1.25em (~20px) → 1.25em */
  /* input[type="checkbox"]:checked:after {
    font-family: "Phosphor";
    content: "\e182";
    font-size: 1.25em;
    font-weight: 100;
    color: var(--neutral-white);
  } */
  
  /* input[type="checkbox"]:checked:before {
    content: "";
  } */
  