.f-validation {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: var(--error);
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 0.25em;
    cursor: pointer;
}

.f-validation::before {
    content: "\e4f8";
    font-family: "Phosphor" !important;
    padding-right: 0.25em;
    bottom: 0.05rem;
    margin-top: 0.1rem;
}

.f-validation > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}